<% for(var i=0;i< modle.length;i++){%>
    <div class="eye-lists">
        <h3>
            <%=modle[i].date %>
        </h3>
        <ul>
            <% for(var j=0;j< modle[i].innerItems.length;j++){%>
                <li>
                    <div>
                        <%=modle[i].innerItems[j].name%>
                            （
                            <%=modle[i].innerItems[j].date%>）
                    </div>
                </li>
                <%}%>
        </ul>
    </div>
<%}%>