<footer class="layout-footer">
    <div class="content">
        <p>
            <a href="#">微博</a>
            |
            <a href="#">微信</a>
            |
            <a href="#">csdn</a>
            |
            <a href="#">github</a>
        </p>
        <p>
            2018 ©
            <a href="#">我的邮箱</a>
            |
        </p>
    </div>

</footer>