<div class="eye-module">
    <h4>友情链接</h4>
    <ul class="circle">
        <li>
            <a href="#">阮一峰的博客</a>
        </li>
        <li>
            <a href="#">一尘一世界的博客</a>
        </li>
        <li>
            <a href="#">@ github社区</a>
        </li>
        <li>
            <a href="#">nodejs社区</a>
        </li>
        <li>
            <a href="#">angular社区</a>
        </li>
        <li>
            <a href="#">vue社区</a>
        </li>
    </ul>
</div>