<header class="layout-header">
    <nav>
        <div class="title">
            目码社
        </div>
        <ul class="menus">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/blog/blog">博客</a>
            </li>
            <li>
                <a href="/blog/open-source">开源</a>
            </li>
            <li>
                <a href="javascrupt:void(0)">工具</a>
            </li>
            <li>
                <a href="javascrupt:void(0)">社区</a>
            </li>
            <li>
                <a href="javascrupt:void(0)">设置</a>
            </li>
            <li class="user-operation">
                <a href="javascrupt:void(0)">注册</a>
                <a href="javascrupt:void(0)">登录</a>
            </li>
            <li>
                
            </li>
        </ul>
    </nav>
</header>